In [1]:
my_test = 3
my_variable = 100

In [2]:
print(my_test,my_variable)

3 100

# Multiple variables

In [3]:
years = 5
no_days = 365
no_hours = 24
no_min = 60
no_sec = 60
no_seconds = years*no_days*no_hours*no_min*no_sec
print(no_seconds)

157680000

In [4]:
# considering a leap year
no_days = 365.25
no_seconds = years*no_days*no_hours*no_min*no_sec
print(no_seconds)

157788000.0

# debugging error

1)one of the commonly faced errors while when we introduce variable is name error
2) instead of no_days if i type number_days and try to insert in the parenthesis of the print() function ,we will come across the error

In [5]:
print(number_days)

NameError: name 'number_days' is not defined

When you see NameError like this, it's an indication that you should check how you have spelled the variable that it references as "not defined".

In [19]:
print(no_days)

365.25

# Functions

Function is a block of code designed to perform specific task.Functions will you to perform same calculation  multiple times without duplicating the code

In [20]:
def add_3(input_var):
    output_var = input_var+3
    return output_var

In [21]:
add_3(3)

6

A function can have multiple arguments or no arguments , an argument is simply the name of the variable that will be used as a input to the function.

def - we are trying to tell that ,we are using keyword "def" that allows us to create a function with some name,here it is add_3

All this comes under the part of Header

The function body specifies what the function does

at the end of the function , we see return and some variable we expect to be returned 
1) Basically the return is the  key word tells the python that we are about to exit the key function
2) when we see the function add_3, we can see out_put named variable after the keyword ,basically  the variable that is returned when the function is exited

when we Run a function ,it can be also called as calling a function

In [22]:
new_number = add_3(10)
print(new_number)

13

In [23]:
add_3()

TypeError: add_3() missing 1 required positional argument: 'input_var'

In [ ]:
new_number = add_3()
print(new_number)

In [ ]:
def ADD_3(Input):
    output = Input+3
    return output

In [ ]:
ADD_3(6)

# A complex example

In [ ]:
def income(no_hours):
    payper_hour = 15
    wage = no_hours*payper_hour
    salary = wage*0.88
    return salary

In [ ]:
print(income(40))

In [ ]:
income_bheem = income(32)
print(income_bheem)

In [ ]:
print(wage)

If you need any information from a function,you need to make sure that appears in the return statement at the end of the function

If we see variables like payper_hour,wage,salary these fall under the category of local variables ,like these have only local scope of that function only.and other functions like income_bheem come under global variables category and  can be accessed everywhere.

# Function with multiple arguments

To define a function with multiple arguments, you only need to add more arguments inside the parentheses in the function head and separate them with a comma.

In [24]:
def get_pay_with_more_inputs(num_hours,hourly_wage,tax_braket):
    gross_salary = num_hours*hourly_wage
    tax = 1-tax_braket
    net_salary = gross_salary*tax
    return net_salary

In [25]:
print(get_pay_with_more_inputs(40,15,0.12))

528.0

# Function with no arguments

it's possible to define function with no arguments, and that don't have a return statement

In [26]:
def wish():
    print("Hello world !")

In [27]:
print(wish())

Hello world !
None

# Data types
Whenever you create a variable in Python, it has a value with a corresponding data type. There are many different data types, such as integers, floats, booleans, and strings, all of which we'll cover in this lesson. (This is just a small subset of the available data types -- there are also dictionaries, sets, lists, tuples, and much more.)

Integer

In [28]:
x = 14
print(type(x))

<class 'int'>

In [29]:
y = 3.4
print((type(y)))

<class 'float'>

we can also specify a float with a fraction

In [30]:
# we will be using a round() function 
pi = 3.141592653589793238462643383279502884197169399375105820974944
round_pi = round(pi,5)
print(round_pi)

3.14159

In [31]:
x = 1
y = 1.0
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

Negative floats are always rounded UP to the closest integer (for instance, both -1.1 and -1.9 are rounded up to -1). Positive floats are always rounded DOWN to the closest integer (for instance, 2.1 and 2.9 are rounded down to 2).

In [32]:
print(int(1.2321))
print(int(1.747))
print(int(-3.94535))
print(int(-2.19774))

1
1
-3
-2

Boolean

In [33]:
print(3 * True)
print(-3.1 * True)
print(type("abc" * False))
print(len("abc" * False))

3
-3.1
<class 'str'>
0

# 
When you multiple an integer or float by a boolean with value True, it just returns that same integer or float (and is equivalent to multiplying by 1). If you multiply an integer or float by a boolean with value False, it always returns 0. This is true for both positive and negative numbers. If you multiply a string by a boolean with value True, it just returns that same string. And if you multiply a string by a boolean with value False, it returns an empty string (or a string with length zero).

In [34]:
a = True
b = False
print(type(a),type(b))

<class 'bool'> <class 'bool'>


Booleans are used to represent the truth value of an expression. Since 1 < 2 is a true statement, z_three takes on a value of True.

In [35]:
true = (1<2)
print(true)

True

In [36]:
false = 3>1
print(false)

True

In [37]:
print(type(true))

<class 'bool'>

When you add booleans, adding False is equivalent to adding 0, and adding True is equivalent to adding 1.

# _string_
The string data type is a collection of characters (like alphabet letters, punctuation, numerical digits, or symbols) contained in quotation marks. Strings are commonly used to represent text

In [38]:
my_name = "Bheemesh Pujari !!"
print(type(my_name))
print(my_name)

<class 'str'>
Bheemesh Pujari !!

You can get the length of a string with len(). "Bheemesh Pujari !!" has length 18, because it has 18 characters, including the space, comma, and exclamation mark. Note that the quotation marks are not included when calculating the length.

In [39]:
print(len(my_name))

18


One special thing of string is it can be empty

In [40]:
shorteststring = " "
print(len(shorteststring))

1

In [41]:
shorteststring = ""
print(len(shorteststring))

0

In [42]:
new_number = "1.23456789"
print(new_number)
print(type(new_number))

1.23456789
<class 'str'>

In [43]:
new_num = float(new_number)
print(new_num)
print(type(new_num))

1.23456789
<class 'float'>

In [44]:
new_string = "hi bheemesh"
# we cannot this into any other datatype like integer,float,boolean we will get an error

In [45]:
new = float(new_string)
print(new)
print(type(new))

ValueError: could not convert string to float: 'hi bheemesh'

# 
Just like you can add two numbers (floats or integers), you can also add two strings. It results in a longer string that combines the two original strings by concatenating them.

In [46]:
add_string = "Pujari"+"Bheemesh"
print(add_string)

PujariBheemesh

In [47]:
print(type(add_string))

<class 'str'>

# 
Note that it's not possible to do subtraction or division with two strings. You also can't multiply two strings, but you can multiply a string by an integer. This again results in a string that's just the original string concatenated with itself a specified number of times.

In [48]:
sub_string = "Pujari"-"Bheemesh"
print(sub_string)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
# multiplying a string with an integer
new_str = "I will win no matter what "*3
print(new_str)

However, we cannot multiply a string with a float

In [ ]:
new_str_float = "ABC"*3.0
print(new_str_float)

#  Conditions and conditional statements

In programming conditions are statements that are either true or false

In [ ]:
print(2>3)

In [ ]:
var_one = 1
var_two = 2
print(var_two>=var_one)

##### Important Note: When you check two values are equal, make sure you use the == sign, and not the = sign.

var_one==1 checks if the value of var_one is 1, but
var_one=1 sets the value of var_one to 1.


Symbol	  Meaning
==	      equals
!=	      does not equal
<	      less than
<=	      less than or equal to
>	      greater than
>=	      greater than or equal to

#### IF statements

In [49]:
def health_status(body_temperature):
    message = "Normal Temparature !"
    if body_temperature > 38:
        message = " Fever "
    return message

In [50]:
health_status(37)

'Normal Temparature !'

In [51]:
health_status(39)

' Fever '

###### Note that there are two levels of indentation:

The first level of indentation is because we always need to indent the code block inside a function.
The second level of indentation is because we also need to indent the code block belonging to the "if" statement. (As you'll see, we'll also need to indent the code blocks for "elif" and "else" statements.)
Note that because the return statement is not indented under the "if" statement, it is always executed, whether temp > 38 is True or False.

#### IF ELSE statements

In [52]:
def evaluate_temp_if_else(temp):
    if temp>38:
        message = "Fever !"
    else:
        message = "Normal Temperature !"
    return message

In [53]:
evaluate_temp_if_else(25)

'Normal Temperature !'

#### IF ELIF ELSE Statements
there's no limit to the number of "elif" statements you can use
Once an "elif" statement evaluates to True and the code block is run, the function skips over all remaining "elif" and "else" statements. After skipping these, all that is left is the return statement, which returns the value of dose.
The order of the elif statements does matter here! Re-ordering the statements will return a very different result.

In [54]:
def evaluate_temp_elif(temp):
    if temp>38:
        message = "Suffering from fever "
    elif temp >35 :
        message = "Normal Temperature !"
    else :
        message = "Low Temperature "
    return message

In [55]:
evaluate_temp_elif(29)

'Low Temperature '

###### you can think of "elif" as saying ... "okay, that previous condition (e.g., temp > 38) was false, so let's check if this new condition (e.g., temp > 35) might be true!"

In [56]:
def tax_pay(salary):
    if salary > 12000:
        tax = salary*0.30
    else:
        tax = salary*0.25
    return tax

In [57]:
tax_pay(9000)

2250.0

# Lists
When doing data science, you need a way to organize your data so you can work with it efficiently. Python has many data structures available for holding your data, such as lists, sets, dictionaries, and tuples. In this tutorial, you will learn how to work with Python lists.

In [58]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

print(type(flowers))
print(flowers)

<class 'str'>
pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle

We can make this even better understandable and present it in a understandable manner.By writing the data in a list manner

In general , the list data type is stored in these [,] brakets.Every item in the square brakets are separated by the commas.The items in the lists can be datatypes like integer,float,and string.In the above example strings are used with " ",Every item in the list is a Python string, so each is enclosed in quotation marks.

In [59]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

###### For instance, a list will make it easier to:

get an item at a specified position (first, second, third, etc),
check the number of items, and
add and remove items.

In [60]:
# finding the length of the list
print(len(flowers_list))

10

### Indexing
We can refer to any item in the list according to its position in the list (first, second, third, etc). This is called indexing.

Note that Python uses zero-based indexing, which means that:

1) to pull the first entry in the list, you use 0,
2) to pull the second entry in the list, you use 1, and
3) to pull the final entry in the list, you use one less than the length of the list.

In [61]:
print("Fifth_word:",flowers_list[6])

Fifth_word: moon orchid

In [62]:
print("last word:",flowers_list[9])

last word: globe thistle

### Slicing
You can also pull a segment of a list (for instance, the first three entries or the last two entries). This is called slicing. For instance:

1) to pull the first x entries, you use [:x], and
2) to pull the last y entries, you use [-y:].

In [63]:
print("First 3 items in the list :" [:3])

Fir

In [64]:
print(flowers_list[:3])

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']

In [65]:
print(flowers_list[-2:])

['monkshood', 'globe thistle']

In [66]:
print(flowers_list[:9])

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

### Removing items
Remove an item from a list with .remove(), and put the item you would like to remove in parentheses.

In [67]:
flowers_list.remove("pink primrose")
print(flowers_list)

['hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

### Adding items
Add an item to a list with .append(), and put the item you would like to add in parentheses.

In [68]:
flowers_list.append("Snap dragon")
print(flowers_list)

['hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle', 'Snap dragon']

### Lists are not just for strings
So far, we have only worked with lists where each item in the list is a string. But lists can have items with any data type, including booleans, integers, and floats.

In [69]:
sales = [45,69,34,92,67,93]
print(len(sales))
print(sales[:3])
print(sales[-2:])
sales.remove(69)
print(sales)
sales.append(69)
print(sales)

6
[45, 69, 34]
[67, 93]
[45, 34, 92, 67, 93]
[45, 34, 92, 67, 93, 69]

### Things like min(),max(),sum(),average()
1) You can also get the minimum with min() and the maximum with max()
2) To add every item in the list, use sum().

In [70]:
print("Minimum of the sales list :", min(sales))
print("Maximum of the sales list :",max(sales))

Minimum of the sales list : 34
Maximum of the sales list : 93

In [71]:
print("Sum of the sales list : ", sum(sales))

Sum of the sales list :  400

In [73]:
print("Average of the sales list :",sum(sales)/len(sales))

Average of the sales list : 66.66666666666667

## you can actually use Python to quickly turn this string into a list with .split(). In the parentheses, we need to provide the character should be used to mark the end of one list item and the beginning of another, and enclose it in quotation marks. In this case, that character is a comma.

In [74]:
address = "Mr. H. Potter,The cupboard under the Stairs,4 Privet Drive,Little Whinging,Surrey"
address.split(",")

['Mr. H. Potter',
 'The cupboard under the Stairs',
 '4 Privet Drive',
 'Little Whinging',
 'Surrey']

In [75]:
salary = [2500,3700,750,576,904]
high_income = [i>=1000 for i in salary]
print(high_income)

[True, True, False, False, False]

###### Remember that when we add booleans, it returns the total number of entries in the sum that are True.